<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인 페이지</title>
    <%-include('./include/head')%>
  </head>
  <body>
    <!-- 
    contentData :[
  {
    contentID: 1,
    title: "제목1",
    content: "토요일 수업..",
    img: null,
  }
]

 user :"Allie 짱✨"
    
    -->
    <%-include('./include/header')%>

    <h1>안녕하세요1!! <%=user%>의 블로그에 온 것을 환영합니다!</h1>

    <ul>
      <% for(let c of contentData){ %>
      <li>
        <a href="/content/<%=c.contentID%>"><%=c.title %></a>
        <button type="button">삭제하기</button>
      </li>
      <% } %>
    </ul>
  </body>
</html>
